#__bs_notify__ {
    opacity: 0;
}

*,
*:before,
*:after,
html {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman, serif;

    background-color: rgb(195, 195, 195);
}

h1,
h2,
p,
a {
    font-size: 16px;
    font-weight: 400;
    color: black;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}


nav {
    width: 100vw;
    padding: 0 20px;
}

ul>li {
    list-style: none;
}

ul#titles>li>a {
    text-decoration: none;
}

ul#texts>li {
    padding: 16px 22px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: none;
}

ul#texts>li#shamanism {
    border-top: 0;
}

ul#texts>li#body_farming {
    margin-top: 26px;
}

ul#texts>li#kidney {
    margin-top: 53px;
}

ul#texts>li#asteroid {
    margin-top: 80px;
}

ul#texts>li#control {
    margin-top: 107px;
}

ul#texts>li>p {
    margin-bottom: 12px;
}

ul#texts>li>p:last-child {
    margin-bottom: 0;
}