@import "./reset.css";




@font-face {
    font-family: "Quebrado";
    src: url("../fonts/Quebrado-Regular.otf")
}

@font-face {
    font-family: "Isobare";
    src: url("../fonts/ISOBARE/Isobare-Regular.ttf")
}

body {
    font-family: "Quebrado";
    /* line-height: 1.5em; */
    word-spacing: 4px;
    color: #272727;
}

.wrapper {
    width: 100vw;
    overflow: hidden;
}

header {
    position: absolute;
    font-family: "Quebrado";
    top: 0%;
    width: 74%;
    z-index: 10000;
    font-size: 2em;
    padding-top: 15px;
    overflow: hidden;



}

header a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: "Isobare";
    font-size: 3em;

    color: rgb(0, 0, 27);
    line-height: 1.5em;
}

a,
a:focus {
    color: #ff2ee1;
}

.container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;

    width: 100vw;
    align-items: center;
    filter: brightness(2000%);
}

.background-blue {
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 80%;
}

.background-blue-behind {
    mix-blend-mode: exclusion;
    position: absolute;
    /* filter: blur(1px); */
}

.border {
    position: absolute;
    z-index: 1000;
    top: 0;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.border-coté {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 10%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.b-bottom {
    top: auto;
    bottom: 0;
}

.b-right {
    top: auto;
    bottom: 0;
}

.b-left {
    right: 0;
}



.text-container {

    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    /* background-color: aqua; */
    transform: perspective(50em) rotateX(-15deg) rotateY(2deg);
    margin-top: 3%;
    cursor: all-scroll;
    width: 65%;
    font-size: 2em;

    height: 90%;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

}




.drawings,
.paintings,
.alu,
.teaching,
.gif-anim {
    position: absolute;
    left: -168%;
    transition: ease-in-out;
    max-height: 89vh;
    top: 6.5%;
    z-index: 1000;
    cursor: e-resize;
    border-radius: 20px;
    max-width: 68%;
    transform: perspective(70em) rotateX(-4deg) rotateY(-3deg);
}



.alu {
    max-height: 90vh;
}

.cv {
    position: absolute;
    top: 0;
    z-index: 10000;
    font-size: 2em;
}

.gif-anim {
    max-width: 68%;
}

.text::-webkit-scrollbar {
    display: none;
}

#titre {
    padding-top: 50px;
    cursor: help;
}